body {
    font-family: 'Arial', sans-serif;
    background-color: #f8f9fa;
}

h2 {
    margin-top: 10px;
}

h3 {
    margin-top: 20px;
}

.img-fluid {
    max-width: 200px;
    margin: 20px 0;
}

.container {
    margin-top: 50px;
}
/* Styles for the image */
.my-image {
    width: 50%;
    max-width: 400px;
    height: auto;
    border: 2px solid #000;
}
